In [26]:
import psycopg2
import pandas as pd
from psycopg2 import sql
from io import StringIO

dbname = 'exampledb'


# Establish a connection to the database
conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)

# Create a cursor object
cursor = conn.cursor()

In [6]:
df = pd.read_parquet('data/yellow_tripdata_2023-01.parquet')

In [16]:
columns = ["id SERIAL PRIMARY KEY",
           "name VARCHAR(100)",
           "age INTEGER"]

columns_str = ", ".join(columns)

create_table_query = """CREATE TABLE IF NOT EXISTS test_table
({});""".format(columns_str)

cursor.execute(create_table_query)

conn.commit()

In [15]:
conn.rollback()

In [20]:
query = "SELECT * FROM test_table"

# Execute the query
cursor.execute(query)

# Fetch the results
rows = cursor.fetchall()

# Process the results
for row in rows:
    print(row)

(1, 'John', 30)
(2, 'Alice', 25)
(3, 'Bob', 35)

In [19]:
sample_data = [
        (1, 'John', 30),
        (2, 'Alice', 25),
        (3, 'Bob', 35)
    ]

    # Generate SQL string for inserting rows
insert_query = """
    INSERT INTO test_table (id, name, age) VALUES (%s, %s, %s)
    """

    # Execute insert query for each row of sample data
cursor.executemany(insert_query, sample_data)

    # Commit the transaction
conn.commit()

In [21]:
table_name = 'jan'

df.to_sql(
    table_name,
    conn,
    if_exists='replace',  # 'replace' if you want to replace the table if it already exists
    index=False
)

conn.commit()
conn.close()

C:\Users\peter\AppData\Local\Temp\ipykernel_107596\3987752399.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': syntax error at or near ";"
LINE 1: ...ELECT name FROM sqlite_master WHERE type='table' AND name=?;
                                                                      ^

Connected to a different type of database.

In [28]:
cursor.close()
conn.close()